/* root */
$accent-color: #ffdfb9;

:root {
  --accent-color: #{ $accent-color};
  --accent-light-color: #{lighten($accent-color, 8.25%)};
  --accent-dark-color: #{desaturate(darken($accent-color, 55%), 72%)};

  --body-text-color: #{desaturate(lighten($accent-color, 10%), 72%)};
  --body-bg-color: #{desaturate(darken($accent-color, 80%), 85%)};
  --body-font-family: 'Onest', sans-serif;
  --body-font-weight: 400;
  --body-font-size: 1rem;
  --body-line-height: 1.5;

  --container_max-width: 79rem;
  --container_padding: 1rem;

  --gap: clamp(1.25rem, 1.07rem + 0.8vw, 1.75rem);

  @media (max-width: 959.98px) {
    --container_max-width: 35rem;
  }
}