@use "functions";

// Extra small
$screen-xs: 576;

// Small
$screen-sm: 576;

// Medium
$screen-md: 768;

// Large
// $screen-lg: 992;
$screen-lg: 960;

// Extra large
$screen-xl: 1200;

// Extra extra large
$screen-xxl: 1400;

@mixin media-up-xs {

  @media (min-width: #{ functions.toRem($screen-xs)}) {

    @content;
  }
}

@mixin media-xs {
  @media (max-width: #{ functions.toRem($screen-xs - 0.02)}) {
    @content;
  }
}

@mixin media-up-sm {

  @media (min-width: #{ functions.toRem($screen-sm)}) {

    @content;
  }
}

@mixin media-sm {

  @media (max-width: #{ functions.toRem($screen-sm - 0.02)}) {

    @content;
  }
}

@mixin media-up-md {

  @media (min-width: #{ functions.toRem($screen-md )}) {

    @content;
  }
}

@mixin media-md {

  @media (max-width: #{ functions.toRem($screen-md - 0.02)}) {

    @content;
  }
}

@mixin media-up-lg {
  @media (min-width: #{ functions.toRem($screen-lg )}) {

    @content;
  }
}

@mixin media-lg {
  @media (max-width: #{ functions.toRem($screen-lg - 0.02)}) {

    @content;
  }
}

@mixin media-up-xl {

  @media (min-width: #{ functions.toRem($screen-xl )}) {

    @content;
  }
}

@mixin media-xl {

  @media (max-width: #{ functions.toRem($screen-xl - 0.02)}) {

    @content;
  }
}

@mixin media-up-xxl {

  @media (min-width: #{ functions.toRem($screen-xxl)}) {

    @content;
  }
}

@mixin media-xxl {
  @media (max-width: #{ functions.toRem($screen-xxl - 0.02)}) {

    @content;
  }
}