@use 'sass:math';


@mixin grid($grid-columns: 12) {
    --grid-columns: #{$grid-columns};

    display: grid;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    gap: var(--column-gap, 1rem);
}

@mixin fluid-text($max: 18, $min: 16) {
    font-size: clamp1($max, $min);
}

@mixin button-reset {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

@mixin hover {
    @media (hover:hover) {
        &:hover {
            @content;
        }
    }

    @media (hover:none) {
        &:active {
            @content;
        }
    }
}

@mixin abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

@mixin dark-gradient($deg) {
    --gradientStartColor: #{desaturate(darken($accent-color, 75%), 88%)};
    --gradientDeg: #{$deg}deg;

    background: linear-gradient(var(--gradientDeg), var(--gradientStartColor) 0%, var(--body-bg-color) 90%);
}