// НЕ УДАЛЯТЬ используются в "_functions.scss" 
// для расчета  toRem() и clamp1($min, $max) 
$BASE_FONT_SIZE: 16;

$VIEWPORT-MAX: 1440;
$VIEWPORT-MIN: 360;

// Внешний отступ вниз для параграфа без атрибута class,
// который расположен не последним среди своих соседних элементов 
$PARAGRAPH_MARGIN_BOTTOM: toRem(24);

// ===== BREAKPOINTS =====

// Extra small
$screen-xs: $VIEWPORT-MIN;

// Small
$screen-sm: 576;

// Medium
$screen-md: 768;

// Large
// $screen-lg: 992;
$screen-lg: 960;

// Extra large
$screen-xl: 1200;

// Extra extra large
$screen-xxl: $VIEWPORT-MAX;

// ===== BREAKPOINTS-END =====

$accent-color: #ffdfb9;

@mixin normalize-root {

  --body-text-color: #{desaturate(lighten($accent-color, 10%), 72%)};
  --body-bg-color: #{desaturate(darken($accent-color, 80%), 85%)};
  --body-font-family: 'Onest', sans-serif;
  --body-font-weight: 400;
  --body-font-size: #{toRem(16)};
  --body-line-height: 1.5;

  // Общие стили для всех заголовков
  --heading-font-family: 'Druk-Cyr', sans-serif;
  --heading-font-weight: 900;
  --heading-line-height: 1.2;

  // Размеры заголовков h1-h6
  --h1-font-size: #{clamp1(40, 80)};
  --h2-font-size: #{clamp1(24, 48)};
  --h3-font-size: #{clamp1(18, 24)};
  --h4-font-size: #{toRem(24)};
  --h5-font-size: #{toRem(20)};
  --h6-font-size: #{toRem(16)};
}


:root {
  @include normalize-root;

  --accent-color: #{ $accent-color};
  --accent-light-color: #{lighten($accent-color, 8.25%)};
  --accent-dark-color: #{desaturate(darken($accent-color, 55%), 72%)};

  --container-max-width: #{toRem(1264)};
  --container-padding-x: 1rem;

  --column-gap: clamp(1.25rem, 1.07rem + 0.8vw, 1.75rem);

  @include media-lg {
    --container-max-width: #{toRem(560)};

  }
}